version: "3.10"
services:
  web:
    build: .
    command: ./sh_scripts/wait_for_it.sh -t 40 mssql:1433 -- 
         bash -c "python -m scripts.train --config_path=configs/db.yml && 
         python -m scripts.eval --config_path=configs/eval.yml && 
         coverage run -m src.unit_tests.test_preprocess && 
         coverage report -m"
    ports:
      - 8000:8000
    image: borisshapa/wine-quality:latest
    volumes:
      - ./scripts:/app/scripts
      - ./src:/app/src
      - ./configs:/app/configs
    depends_on:
      - mssql
  mssql:
    build:
      dockerfile: mssql.dockerfile
      context: .
    ports:
      - "1433:1433"
    volumes:
      - ./data:/data
